.popularContent{
    color: black;
    margin: 13vh 3vh 0vh 3vh;
}
.popularContent h2{
    font-family: 'Roboto-Bolder' ;
    font-size: 7vh;
    color: black;
    margin-left: 1vh;
    font-weight: 100;
}
.popularContent img{
    filter: brightness(60%);
    width: 68vh;
    height: 60vh;
    z-index: 1;
    border-radius: 10px;
    margin: 0vh 2vh 2vh 2vh;
}
.display{
    display: flex;
}
@media screen and (max-width: 768px){
    .popularContent{
        margin: 5vh 1vh 0vh 1vh;
        color: black;
    }
    .popularContent h2{
        font-family: 'Roboto-Bolder' ;
        font-size: 5vh;
        color: blue;
        margin-left: 1vh;
        font-weight: 100;
    }
    .popularContent img{
        filter: brightness(55%);
        width: 90vw;
        height: 50vh;
    }
}